In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('/content/drive/MyDrive/Fellowship-main/Seasons_Stats.csv')

# Preprocessing

In [3]:
df = df[df['Year'] == 2017]
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 595 entries, 24096 to 24690
Data columns (total 53 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  595 non-null    int64
 1   Year        595 non-null    float64
 2   Player      595 non-null    object
 3   Pos         595 non-null    object
 4   Age         595 non-null    float64
 5   Tm          595 non-null    object
 6   G           595 non-null    float64
 7   GS          595 non-null    float64
 8   MP          595 non-null    float64
 9   PER         595 non-null    float64
 10  TS%         593 non-null    float64
 11  3PAr        593 non-null    float64
 12  FTr         593 non-null    float64
 13  ORB%        595 non-null    float64
 14  DRB%        595 non-null    float64
 15  TRB%        595 non-null    float64
 16  AST%        595 non-null    float64
 17  STL%        595 non-null    float64
 18  BLK%        595 non-null    float64
 19  TOV%        593 non-null    float64
 20  USG%        595 non-null    float64
 21  blanl       0 non-null      float64
 22  OWS         595 non-null    float64
 23  DWS         595 non-null    float64
 24  WS          595 non-null    float64
 25  WS/48       595 non-null    float64
 26  blank2      0 non-null      float64
 27  OBPM        595 non-null    float64
 28  DBPM        595 non-null    float64
 29  BPM         595 non-null    float64
 30  VORP        595 non-null    float64
 31  FG          595 non-null    float64
 32  FGA         595 non-null    float64
 33  FG%         593 non-null    float64
 34  3P          595 non-null    float64
 35  3PA         595 non-null    float64
 36  3P%         549 non-null    float64
 37  2P          595 non-null    float64
 38  2PA         595 non-null    float64
 39  2P%         590 non-null    float64
 40  eFG%        593 non-null    float64
 41  FT          595 non-null    float64
 42  FTA         595 non-null    float64
 43  FT%         571 non-null    float64
 44  ORB         595 non-null    float64
 45  DRB         595 non-null    float64
 46  TRB         595 non-null    float64
 47  AST         595 non-null    float64
 48  STL         595 non-null    float64
 49  BLK         595 non-null    float64
 50  TOV         595 non-null    float64
 51  PF          595 non-null    float64
 52  PTS         595 non-null    float64
dtypes: float64(49), int64(1), object(3)
memory usage: 251.0+ KB

In [4]:
df = df.drop(['Unnamed: 0', 'blanl', 'blank2'], axis=1)
df = df.drop_duplicates(subset='Player', keep="last")

In [5]:
dfna = df[df.isna().any(axis=1)]
dfna

         Year             Player Pos   Age  ...    BLK    TOV     PF     PTS
24103  2017.0       Cole Aldrich   C  28.0  ...   23.0   17.0   85.0   105.0
24117  2017.0       Joel Anthony   C  34.0  ...    6.0    4.0   11.0    25.0
24120  2017.0          Omer Asik   C  30.0  ...   10.0   14.0   51.0    85.0
24135  2017.0        Aron Baynes   C  30.0  ...   39.0   50.0  166.0   365.0
24144  2017.0         Ben Bentil  PF  21.0  ...    0.0    1.0    1.0     0.0
24147  2017.0    Bismack Biyombo   C  24.0  ...   91.0   95.0  202.0   483.0
24156  2017.0       Andrew Bogut   C  32.0  ...    0.0    0.0    2.0     0.0
24168  2017.0      Anthony Brown  SF  24.0  ...    0.0    1.0    2.0     9.0
24176  2017.0      Bruno Caboclo  SF  21.0  ...    1.0    2.0    4.0    14.0
24182  2017.0       Clint Capela   C  22.0  ...   80.0   87.0  179.0   818.0
24191  2017.0     Tyson Chandler   C  34.0  ...   24.0   67.0  126.0   397.0
24194  2017.0   Rakeem Christmas  PF  25.0  ...    6.0    8.0   37.0    59.0
24219  2017.0      Deyonta Davis   C  20.0  ...   17.0    8.0   40.0    58.0
24220  2017.0           Ed Davis  PF  27.0  ...   22.0   37.0  137.0   200.0
24221  2017.0     Dewayne Dedmon   C  27.0  ...   61.0   61.0  180.0   387.0
24227  2017.0      Cheick Diallo  PF  20.0  ...    7.0    7.0   17.0    87.0
24254  2017.0      Jordan Farmar  PG  30.0  ...    0.0    3.0    1.0    12.0
24257  2017.0  Cristiano Felicio   C  24.0  ...   16.0   33.0  110.0   316.0
24272  2017.0    Patricio Garino  SG  23.0  ...    0.0    3.0    4.0     0.0
24308  2017.0      Justin Harper  PF  27.0  ...    0.0    4.0    2.0    12.0
24329  2017.0        Roy Hibbert   C  30.0  ...    2.0    1.0    3.0     4.0
24335  2017.0        Jordan Hill   C  29.0  ...    0.0    4.0    9.0    12.0
24344  2017.0       Danuel House  SG  23.0  ...    0.0    0.0    0.0     0.0
24349  2017.0        R.J. Hunter  SG  23.0  ...    0.0    0.0    0.0     0.0
24374  2017.0      Brice Johnson  PF  22.0  ...    1.0    1.0    0.0     4.0
24382  2017.0       Damian Jones   C  21.0  ...    4.0    6.0   15.0    19.0
24387  2017.0     Terrence Jones  PF  25.0  ...    1.0    0.0    0.0     0.0
24412  2017.0          David Lee  PF  33.0  ...   40.0   82.0  125.0   576.0
24430  2017.0         John Lucas  PG  34.0  ...    0.0    0.0    0.0     2.0
24434  2017.0        Ian Mahinmi   C  30.0  ...   24.0   34.0   90.0   173.0
24436  2017.0   Boban Marjanovic   C  28.0  ...   12.0   10.0   25.0   191.0
24447  2017.0   Chris McCullough  PF  21.0  ...    0.0    1.0    0.0     1.0
24496  2017.0       Nerlens Noel   C  22.0  ...   25.0   22.0   55.0   188.0
24498  2017.0        Steve Novak  PF  33.0  ...    0.0    0.0    1.0     5.0
24508  2017.0      Daniel Ochefu   C  23.0  ...    0.0    3.0   17.0    24.0
24509  2017.0      Jahlil Okafor   C  21.0  ...   49.0   91.0  122.0   590.0
24512  2017.0      Arinze Onuaku   C  29.0  ...    1.0    2.0    3.0     4.0
24513  2017.0     Chinanu Onuaku   C  20.0  ...    1.0    4.0    6.0    14.0
24530  2017.0   Marshall Plumlee   C  24.0  ...    4.0   12.0   23.0    40.0
24536  2017.0      Miles Plumlee   C  28.0  ...    4.0    8.0   25.0    31.0
24537  2017.0       Jakob Poeltl   C  21.0  ...   20.0   29.0  113.0   165.0
24568  2017.0       Damjan Rudez  SF  30.0  ...    1.0    9.0   31.0    82.0
24572  2017.0      Larry Sanders   C  28.0  ...    1.0    2.0    5.0     4.0
24600  2017.0     Jarnell Stokes   C  23.0  ...    0.0    0.0    3.0     3.0
24601  2017.0      Diamond Stone   C  19.0  ...    1.0    2.0    5.0    10.0
24606  2017.0        Edy Tavares   C  24.0  ...    6.0    2.0    3.0     6.0
24620  2017.0         Mike Tobey   C  22.0  ...    0.0    1.0    2.0     2.0
24624  2017.0       Axel Toupane  SF  24.0  ...    1.0    0.0    5.0    11.0
24637  2017.0   Anderson Varejao   C  34.0  ...    3.0    8.0   16.0    18.0
24657  2017.0   Hassan Whiteside   C  27.0  ...  161.0  154.0  226.0  1309.0
24688  2017.0  Stephen Zimmerman   C  20.0  ...    5.0    3.0   17.0    23.0

[51 rows x 50 columns]

In [6]:
df = df.fillna(0)
df.isnull().values.any()

False

# Answer 1

In [7]:
age = df.groupby(['Tm']).agg({'Age':['min','max']})

In [8]:
age_np = age.to_numpy()
age_indx = age.index.to_numpy()
df_np = df.to_numpy()

In [9]:
def name_age(d):
  a = []
  for i in range(0,age_indx.shape[0]):
      for j in range (0,df.shape[0]):
        if df_np[j,4] == age_indx[i] and df_np[j,3] == age_np[i,d]:
          a.append([age_indx[i],df_np[j,1],age_np[i,d]])
  return a

In [10]:
name_min = name_age(0)
name_max = name_age(1)

In [11]:
age_indx = age_indx.reshape((age_indx.shape[0],-1))

In [12]:
age_max = pd.DataFrame(name_max, columns = ['Team', 'Name', 'Age'])
age_max

   Team              Name   Age
0   ATL     Mike Dunleavy  36.0
1   BOS      Gerald Green  31.0
2   BRK        Luis Scola  36.0
3   CHI       Dwyane Wade  35.0
4   CHO     Brian Roberts  31.0
5   CLE    Chris Andersen  38.0
6   DAL     Dirk Nowitzki  38.0
7   DEN       Mike Miller  36.0
8   DET        Beno Udrih  34.0
9   GSW       Matt Barnes  36.0
10  GSW        David West  36.0
11  HOU      Nene Hilario  34.0
12  IND      Aaron Brooks  32.0
13  IND      Al Jefferson  32.0
14  LAC       Paul Pierce  39.0
15  LAL       Metta World  37.0
16  MEM      Vince Carter  40.0
17  MIA     Udonis Haslem  36.0
18  MIL       Jason Terry  39.0
19  MIN        John Lucas  34.0
20  NOP      Jarrett Jack  33.0
21  NYK   Carmelo Anthony  32.0
22  NYK     Sasha Vujacic  32.0
23  OKC     Nick Collison  36.0
24  ORL       C.J. Watson  32.0
25  PHI    Tiago Splitter  32.0
26  PHO   Leandro Barbosa  34.0
27  PHO    Tyson Chandler  34.0
28  POR       Evan Turner  28.0
29  SAC     Arron Afflalo  31.0
30  SAC  Anthony Tolliver  31.0
31  SAS     Manu Ginobili  39.0
32  TOR       P.J. Tucker  31.0
33  UTA       Joe Johnson  35.0
34  WAS     Marcin Gortat  32.0

In [13]:
age_min = pd.DataFrame(name_min, columns = ['Team', 'Name', 'Age'])
age_min

   Team                     Name   Age
0   ATL          DeAndre' Bembry  22.0
1   ATL    Taurean Waller-Prince  22.0
2   BOS             Jaylen Brown  20.0
3   BRK         Isaiah Whitehead  21.0
4   CHI             Bobby Portis  21.0
5   CHO           Christian Wood  21.0
6   CLE               Kay Felder  21.0
7   DAL               Ben Bentil  21.0
8   DEN             Jamal Murray  19.0
9   DET           Henry Ellenson  20.0
10  DET          Stanley Johnson  20.0
11  GSW             Kevon Looney  20.0
12  HOU           Chinanu Onuaku  20.0
13  IND             Myles Turner  20.0
14  LAC            Diamond Stone  19.0
15  LAL           Brandon Ingram  19.0
16  LAL              Ivica Zubac  19.0
17  MEM             Wade Baldwin  20.0
18  MEM            Deyonta Davis  20.0
19  MIA          Justise Winslow  20.0
20  MIL               Thon Maker  19.0
21  MIN               Tyus Jones  20.0
22  NOP            Cheick Diallo  20.0
23  NYK       Kristaps Porzingis  21.0
24  OKC         Domantas Sabonis  20.0
25  ORL        Stephen Zimmerman  20.0
26  PHI  Timothe Luwawu-Cabarrot  21.0
27  PHI            Jahlil Okafor  21.0
28  PHO            Dragan Bender  19.0
29  PHO          Marquese Chriss  19.0
30  PHO            Derrick Jones  19.0
31  POR              Noah Vonleh  21.0
32  SAC     Georgios Papagiannis  19.0
33  SAS          Dejounte Murray  20.0
34  TOR            Bruno Caboclo  21.0
35  TOR             Jakob Poeltl  21.0
36  UTA               Dante Exum  21.0
37  UTA               Trey Lyles  21.0
38  WAS         Chris McCullough  21.0
39  WAS              Kelly Oubre  21.0

# Answer 2

In [14]:
mp = df.groupby(['Pos']).agg({'MP':'max'})

In [15]:
mp_np = mp.to_numpy()
mp_indx = mp.index.to_numpy()

In [16]:
def name_mp(d):
  a = []
  for i in range(0,mp_indx.shape[0]):
      for j in range (0,df.shape[0]):
        if df_np[j,2] == mp_indx[i] and df_np[j,7] == mp_np[i,d]:
          a.append([mp_indx[i],df_np[j,1],mp_np[i,d]])
  return a

In [17]:
mp_max = name_mp(0)
mp_max_df = pd.DataFrame(mp_max, columns = ['Pos', 'Name', 'MP'])

In [18]:
mp_max_df

  Pos                Name      MP
0   C  Karl-Anthony Towns  3030.0
1  PF     Harrison Barnes  2803.0
2  PG        James Harden  2947.0
3  SF      Andrew Wiggins  3048.0
4  SG       C.J. McCollum  2796.0

## Answer 3

In [19]:
avg = df.groupby(['Tm'])['TRB%','AST%','STL%','BLK%'].mean().reset_index()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

In [20]:
avg[['Tm','TRB%']].sort_values(by=['TRB%'], ascending=False).head()

     Tm       TRB%
29  WAS  12.735294
9   GSW  11.475000
19  NYK  10.880000
27  TOR  10.862500
6   DAL  10.852632

In [21]:
avg[['Tm','AST%']].sort_values(by=['AST%'], ascending=False).head()

     Tm       AST%
7   DEN  15.723529
26  SAS  14.900000
22  PHI  14.750000
1   BOS  14.573333
0   ATL  14.083333

In [22]:
avg[['Tm','STL%']].sort_values(by=['STL%'], ascending=False).head()

     Tm      STL%
17  MIN  2.413333
12  LAC  1.993333
16  MIL  1.888235
27  TOR  1.881250
13  LAL  1.843750

In [23]:
avg[['Tm','BLK%']].sort_values(by=['BLK%'], ascending=False).head()

     Tm      BLK%
16  MIL  2.741176
9   GSW  2.675000
5   CLE  2.568421
12  LAC  2.053333
27  TOR  2.025000

## Answer 4

In [24]:
per = df.groupby(['MP']).agg({'PER':'max'}).reset_index()

In [25]:
per_np = per.to_numpy()

In [26]:
a = []
for i in range(0,per_np.shape[0]):
    for j in range (0,df.shape[0]):
      if df_np[j,7] == per_np[i,0] and df_np[j,8] == per_np[i,1]:
        a.append([per_np[i,0],df_np[j,1],per_np[i,1]])

In [27]:
per_g = pd.DataFrame(a, columns = ['MP', 'Name', 'PER'])
per_g.sort_values(by=['MP'], ascending=False).head()

         MP                   Name   PER
440  3048.0         Andrew Wiggins  16.5
439  3030.0     Karl-Anthony Towns  26.0
438  2947.0           James Harden  27.3
437  2845.0  Giannis Antetokounmpo  26.1
436  2836.0              John Wall  23.2

## Answer 5

In [28]:
team_per = df.groupby(['Tm']).agg({'PER':'mean','WS':'max'}).reset_index()

In [29]:
team_per.sort_values(by=['WS','PER'], ascending=False)

     Tm        PER    WS
10  HOU  14.000000  15.0
28  UTA  14.500000  14.3
3   CHI  11.868750  13.8
26  SAS  13.987500  13.6
20  OKC  13.353333  13.1
5   CLE  11.347368  12.9
17  MIN  12.766667  12.7
9   GSW  15.125000  12.6
1   BOS  14.780000  12.6
16  MIL  12.582353  12.4
12  LAC  13.500000  11.8
18  NOP  13.229412  11.0
24  POR  13.164286  10.3
27  TOR  14.125000  10.1
14  MEM  12.418750  10.0
7   DEN  15.294118   9.7
15  MIA  12.964286   9.5
29  WAS  12.394118   9.4
0   ATL  10.500000   8.3
11  IND  12.756250   8.1
4   CHO  12.211765   8.1
8   DET  13.053333   6.9
23  PHO  12.258824   5.4
2   BRK  12.572222   4.9
19  NYK  13.540000   4.7
6   DAL  11.531579   4.6
21  ORL  10.044444   4.4
25  SAC  13.200000   3.9
22  PHI  13.450000   3.8
13  LAL  13.131250   3.5